 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <i class="devicon-html5-plain-wordmark"></i>
      <h2>Abhijith Remesh</h2>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
   <div class="tech">      
      <i class="devicon-html5-plain-wordmark"></i>
      <h2>Anusha Mathew</h2>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
</div>
    <div class="tech">
      <i class="devicon-nodejs-plain-wordmark"></i>
      <h2>Manish Rama Chandran</h2>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <i class="devicon-git-plain"></i>
      <h2>Vishnu Mohan</h2>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
