 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <i class="devicon-html5-plain-wordmark"></i>
      <h2>Abhijith Remesh</h2>
      <p>Course: Masters in Digital engineering</p>
      <p>Area of interest : Data Mining</p>
    </div>
   <div class="tech">      
      <i class="devicon-html5-plain-wordmark"></i>
      <h2>Anusha Mathew</h2>
      <p>Course: Masters in Digital engineering</p>
      <p>Area of interest : Robotics</p>
</div>
    <div class="tech">
      <i class="devicon-nodejs-plain-wordmark"></i>
      <h2>Manish Rama Chandran</h2>
      <p>Course: Masters in Digital engineering</p>
      <p>Area of interest : Data Mining</p>
    </div>
    <div class="tech">
      <i class="devicon-git-plain"></i>
      <p>Course: Masters in Digital engineering</p>
      <p>Area of interest : Data Mining</p>
    </div>
</div>
