<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Our Team </h3>
    <p><i>16 Apr 2018</i></p>
    <p>Team - complementary skills - roles and responsibilities - communication - flexibly </p>
    <a class="project-link" href="{{site.baseurl}}/blog/post1">Check it out>></a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Requirements analysis </h3>
    <p><i>08 May 2018</i></p>
    <p>requirements gathering - requirements analysis - user stories - use case diagrams</p>
    <a class="project-link" href="{{site.baseurl}}/blog/post2">Check it out>></a>
  </div>
</div>
